
*
{
    box-sizing:border-box;
    padding: 0;
}
.container-nav
{
    display: flex;
    background-color: sandybrown;
    justify-content: end;

}
.btn-block
{
    width: 150px;
    height: 50px;
    background-color:green;
    border: 1px solid black;
}
.item-block
{
    width: 50%;
    background-color: salmon;
}

.item-nav
{
  padding: 20px;
  color: sienna;
  text-decoration:none;
}
.container-content
{
    display: flex;
    height: 25%;
    margin-top: 6%;

}

.item-content
{
   display: flex;
}
.item-content-l
{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: saddlebrown;
    align-items: center;
    
}
.item-btn
{
    text-decoration: none;
    margin: auto;
    text-align: center;
    padding-top: 3%;
}
.item-content-r
{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
.item-content-r > img
{
    width: 300px;
    border-radius: 500px;
}