:root
{
    --containerSpace :50px
}

*
{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
.container-nav
{
    display: flex;
    background-color: sandybrown;
    justify-content: end;

}
.btn-block
{
    width: 250px;
    height: 60px;
    background-color:orangered;
    border: 1px solid black;
}
.item-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* background-color: salmon; */
}

.item-nav
{
  padding: 20px;
  color: sienna;
  text-decoration:none;
  margin-right: 35px;
}
.container-content
{
    display: flex;
    height: 25%;
    margin-top: 6%;
}

.item-content
{
   display: flex;
}
.item-content-l
{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: saddlebrown;
    /* align-items: center; */
    margin-left: 150px;
}
.item-content-l>h2
{
    margin-top: 2%;
    margin-bottom: 2%;
}
.item-btn
{
    text-decoration: none;

    text-align: center;
    margin-top: 25%;
    padding-top: 3%;
    align-self: flex-start;
}
.item-content-r
{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    
}
.item-content-r > img
{
    width: 300px;
    border-radius: 500px;
}
.container-recentPost
{
    display: flex;
    background-color: rgba(250, 128, 114, 0.293);
    width: 100%;
    height: 400px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: var(--containerSpace)
        /* */
}

.cointainer-recentPost-top
{
    width: 100%;
    height: 50px;
    /* background-color:wheat; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    gap: 0 61.11%;
}
.cointainer-recentPost-top > a
{
    text-decoration: none;
    
    /* padding-top: 30px; */
    align-self: center;
    font-size: 20px;
}


.cointainer-recentPost-under
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:9.5px; 
}
.item-recentPost
{
    width: 40%;
    height: 300px;
    background-color:green;
    border: 1px solid black;
    
}
.link-block
{   
    width: 12%;
    display: flex;
    border: 1px solid black;
}

.text-darkColor
{
    color:rgb(4, 109, 109);
}
.text-linkColor
{
    color: rgb(186, 20, 212);
}

.container-featureWork
{
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 100%;
    height: 400px;
    margin-top: var(--containerSpace);

    align-items: center;
}
.container-featureWork-T
{
    width: 100%;
    height: 50px;
    background-color:whitesmoke;
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
}
.container-featureWork-T > p
{
    margin-left: 150px;
}

.container-featureWork-B
{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 150px;
}
.item-block
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 25px 12.5px ; /*y x*/
    width: 30%;
    height: 300px;
    /* background-color: white; */
}
.item-block-text
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 25px 12.5px ;
    width: 50%;
    height: 300px;
}
.item-block>img
{
    height: 100%;
    width: 80%;
}
.content-featureWork-up
{
    width: 100%;
    height: 20%;
    background-color: beige;
}
.container-featureWork-center
{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 255, 0);
    display: flex;
    flex-direction:row;
}

.item-featureWork-center-L
{
    display: flex;
    justify-content: start;
    align-items:center;
    width: 15%;
    height: 100%;
    background-color: rgb(0, 217, 255);
}
.item-featureWork-center-R
{
    display: flex;
    justify-content: start;
    align-items:center;
    width: 85%;
    height: 100%;
    background-color: rgb(255, 0, 230);
}
.content-featureWork-down
{
    width: 100%;
    height: 80%;
    margin-top: 20px;
    background-color: orange;
}
.content-featureWork-down > p
{
    margin-top: 20px;
}
.container-footer
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-footer-T
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 30px;
}

.footer-icon
{
    width: 100px;
    border: 1px  solid black;
    margin: 5px;
}

.blog
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-blog
{
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    width: 800px;
    margin: 2.5% 5%;
    /* background-color: salmon; */
    
}
.container-blog > h2
{
    margin-bottom: 5%;  
}
.container-blog-content
{
   display: flex;
   flex-direction: column;

   align-items: flex-start;
 padding-bottom: 10px;
   border-bottom: 1px solid black;
   
}
.content-blog-T
{
    
}
.content-blog-C
{
    display: flex;
}
.content-blog-B
{
    
    
}
.space-box
{
    margin-bottom: 10px;
}